body {
    background-color: bs-secondary #6c757d !important;
}

a {
    text-decoration: none !important;
    color: white !important;
}

a:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.08);
    box-shadow: -100px 0 0 0 white;
    transition: box-shadow 0.2s, background-color 0.2s;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center;      
    background: transparent !important;
    min-height: 100vh;      
}

.logo {
    padding-bottom: 20px;
}

.quiz-card {
    width: 80%;
    background-size: cover !important;
    box-shadow: 0 0 16px #0002;
    color: #222;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


.navbar > div {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    gap: 10px;
    background: olive !important;
    padding: 46px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    min-width: 10px;
}

.question-footer {
    border-top: 2px solid rgba(0, 0, 0, 0.4);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-success, .bg-danger {
    color: white !important;
}